n8n-enhanced-workflow.json
{
  "name": "Enhanced PTE AI Scoring Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pte-ai-scoring",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        256
      ],
      "id": "webhook-node-1",
      "name": "PTE Scoring Webhook",
      "webhookId": "pte-ai-scoring-endpoint"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt || '' }}"
            },
            {
              "name": "transcript",
              "value": "={{ $json.transcript || $json.response || '' }}"
            },
            {
              "name": "questionType",
              "value": "={{ $json.questionType || 'general' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        480,
        256
      ],
      "id": "set-variables-node",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "evaluate_speaking",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        256
      ],
      "id": "if-action-check",
      "name": "Check Action Type"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "evaluate_writing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        356
      ],
      "id": "if-writing-check",
      "name": "Check Writing Action"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-3",
              "leftValue": "={{ $json.action }}",
              "rightValue": "evaluate_reading",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        456
      ],
      "id": "if-reading-check",
      "name": "Check Reading Action"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-4",
              "leftValue": "={{ $json.action }}",
              "rightValue": "evaluate_listening",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        556
      ],
      "id": "if-listening-check",
      "name": "Check Listening Action"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-5",
              "leftValue": "={{ $json.action }}",
              "rightValue": "transcribe_audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        656
      ],
      "id": "if-transcribe-check",
      "name": "Check Transcribe Action"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/api/test-evaluation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": {
            "entries": [
              {
                "name": "action",
                "value": "evaluate_speaking"
              },
              {
                "name": "prompt",
                "value": "={{ $json.prompt }}"
              },
              {
                "name": "transcript",
                "value": "={{ $json.transcript }}"
              },
              {
                "name": "question_type",
                "value": "={{ $json.questionType || 'speaking' }}"
              }
            ]
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        256
      ],
      "id": "http-python-speaking",
      "name": "Python Speaking Eval"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/api/test-evaluation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": {
            "entries": [
              {
                "name": "action",
                "value": "evaluate_writing"
              },
              {
                "name": "prompt",
                "value": "={{ $json.prompt }}"
              },
              {
                "name": "response",
                "value": "={{ $json.response || $json.transcript }}"
              },
              {
                "name": "question_type",
                "value": "={{ $json.questionType || 'writing' }}"
              }
            ]
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        356
      ],
      "id": "http-python-writing",
      "name": "Python Writing Eval"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/api/test-evaluation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": {
            "entries": [
              {
                "name": "action",
                "value": "evaluate_reading"
              },
              {
                "name": "questions",
                "value": "={{ $json.questions || [] }}"
              }
            ]
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        456
      ],
      "id": "http-python-reading",
      "name": "Python Reading Eval"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5001/api/test-evaluation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": {
            "entries": [
              {
                "name": "action",
                "value": "evaluate_listening"
              },
              {
                "name": "questions",
                "value": "={{ $json.questions || [] }}"
              }
            ]
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        556
      ],
      "id": "http-python-listening",
      "name": "Python Listening Eval"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transcribe this audio accurately with proper punctuation.\n\nAudio: {{ $json.audio }}\n\nReturn only the transcript text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        656
      ],
      "id": "ai-transcription-agent",
      "name": "AI Transcription Agent"
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "transcript",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        1200,
        656
      ],
      "id": "set-transcript",
      "name": "Set Transcript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        306
      ],
      "id": "respond-speaking",
      "name": "Respond Speaking"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        406
      ],
      "id": "respond-writing",
      "name": "Respond Writing"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        506
      ],
      "id": "respond-reading",
      "name": "Respond Reading"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        606
      ],
      "id": "respond-listening",
      "name": "Respond Listening"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        706
      ],
      "id": "respond-transcribe",
      "name": "Respond Transcribe"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Check Action Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action Type": {
      "main": [
        [
          {
            "node": "Python Speaking Eval",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "if": [
        [
          {
            "node": "Python Speaking Eval",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "else": [
        [
          {
            "node": "Check Writing Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Writing Action": {
      "main": [
        [
          {
            "node": "Check Reading Action",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "if": [
        [
          {
            "node": "Python Writing Eval",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "else": [
        [
          {
            "node": "Check Reading Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reading Action": {
      "main": [
        [
          {
            "node": "Check Listening Action",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "if": [
        [
          {
            "node": "Python Reading Eval",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "else": [
        [
          {
            "node": "Check Listening Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Listening Action": {
      "main": [
        [
          {
            "node": "Check Transcribe Action",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "if": [
        [
          {
            "node": "Python Listening Eval",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "else": [
        [
          {
            "node": "Check Transcribe Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Transcribe Action": {
      "if": [
        [
          {
            "node": "AI Transcription Agent",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "else": [
        [
          {
            "node": "Respond Speaking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python Speaking Eval": {
      "main": [
        [
          {
            "node": "Respond Speaking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python Writing Eval": {
      "main": [
        [
          {
            "node": "Respond Writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python Reading Eval": {
      "main": [
        [
          {
            "node": "Respond Reading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python Listening Eval": {
      "main": [
        [
          {
            "node": "Respond Listening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Transcription Agent": {
      "main": [
        [
          {
            "node": "Set Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Transcript": {
      "main": [
        [
          {
            "node": "Respond Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "2.0",
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "createdAt": "2024-01-01T00:00:00.000Z"
}